#title {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial;
    background: gold;
}

#main{
    text-align: center;
}

.box {
    display: inline-block;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 23%;
    overflow: hidden;
}

.red {
    background: lightcoral;
}

.orange {
    background: lightsalmon;
}

.yellow {
    background: lemonchiffon;
}

.green {
    background: lightgreen;
}

.aqua {
    background: aqua;
}

.blue {
    background: turquoise;
}

.purple {
    background: mediumpurple;
}

.pink {
    background: lightpink;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
}

p {
    font-family: Arial;
}

body {
    background: lightblue;
}
